<h3>Heroes</h3>

<div class="d-grid gap-2">   
    <button type="button" class="btn btn-primary" (click)="events()"> 
      Obtener Flujo de Eventos 
    </button>
    <button type="button" class="btn btn-primary" (click)="routerState()"> 
      Obtener Estado del Router
    </button>
    <button type="button" class="btn btn-primary" (click)="navigated()"> 
      ¿Se ha Producido un Evento de Navegacion?
    </button>
    <button type="button" class="btn btn-primary" (click)="config()"> 
      Obtener Configuracion
    </button>
    <button type="button" class="btn btn-primary" (click)="url()"> 
      Obtener la Url Actual 
    </button>
    <button type="button" class="btn btn-primary" (click)="initialNavigation()"> 
      Realizar la Navegación Inicial
    </button>
    <button type="button" class="btn btn-primary" (click)="setUpLocationChangeListener()"> 
      Configurar el Oyente de Cambio de Ubicación
    </button>
    <button type="button" class="btn btn-primary" (click)="resetConfig()"> 
      Reestablecer Configuracion de la Navegacion
    </button>
    <button type="button" class="btn btn-primary" (click)="createUrlTreeCrisis()"> 
      Crear una UrlTree de Crisis
    </button>
    <button type="button" class="btn btn-primary" (click)="getCurrentNavigation()"> 
      Obtener Navegacion Actual       
    </button>
    <button type="button" class="btn btn-primary" (click)="dispose()"> 
      Eliminar Router
    </button>
    <button type="button" class="btn btn-primary" (click)="navigateByUrlToCrisis()"> 
      Navegar por Url a Crisis
    </button>
    <button type="button" class="btn btn-primary" (click)="navigateToCrisis()"> 
      Navegar a Crisis
    </button>
    <button type="button" class="btn btn-primary" (click)="serializeUrlCrisis()"> 
      Serializar Url de Crisis 
    </button>
    <button type="button" class="btn btn-primary" (click)="parseUrlCrisis()"> 
      Analizar Cadena de Crisis
    </button>
  </div>
